
  .fullWidth {
    width: 100vw;
    height: 12vh;
  }
  .margin {
    margin: 2vw;
  }
  .header {
    position: absolute;
    top: 0;
    background-color: red;
    width: 100vw;
    height: 100vh;
  }
  .menuHamLine {
    width: 100%;
    height: 4px;
  }
  